# Turn rewrite engine on
Options +FollowSymlinks
RewriteEngine on


RewriteRule ^receive/([0-9]+)/?$ Controller.php?view=receive&sender=$1 [L,qsa]
RewriteRule ^sendcall/([a-z]+)/([0-9]+)/([0-9]+)/?$ Controller.php?view=sendcall&message=$1&sender=$2&receiver=$3 [l,qsa]
RewriteRule ^sendmessage/([a-z]+)/([0-9]+)/([0-9]+)/?$ Controller.php?view=sendmessage&message=$1&sender=$2&receiver=$3 [l,qsa]


